.link-btn {
  background-color: #aaa;
  color: #fff;
  border-radius: 3px;
  border: none;
  padding: 8px 15px;
  text-decoration: none;
  display: block;
  width: 20%;
  margin: 0 auto;
  margin-top: 20px;
}